@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.625rem;
  --background: 269 100% 97%;
  --foreground: 270 63% 19%;
  --card: 0 0% 100%;
  --card-foreground: 270 63% 19%;
  --popover: 0 0% 100%;
  --popover-foreground: 270 63% 19%;
  --primary: 271 76% 53%;
  --primary-foreground: 270 100% 98%;
  --secondary: 270 86% 96%;
  --secondary-foreground: 243 61% 29%;
  --muted: 270 100% 95%;
  --muted-foreground: 270 63% 35%;
  --accent: 270 100% 97%;
  --accent-foreground: 270 59% 26%;
  --destructive: 0 84% 71%;
  --destructive-foreground: 0 0% 100%;
  --border: 270 89% 86%;
  --input: 270 89% 86%;
  --ring: 280 89% 67%;
  --chart-1: 271 76% 53%;
  --chart-2: 280 88% 76%;
  --chart-3: 280 89% 67%;
  --chart-4: 330 81% 71%;
  --chart-5: 48 96% 53%;
  --sidebar: 270 100% 96%;
  --sidebar-foreground: 270 73% 20%;
  --sidebar-primary: 272 71% 47%;
  --sidebar-primary-foreground: 300 100% 98%;
  --sidebar-accent: 270 86% 96%;
  --sidebar-accent-foreground: 270 59% 26%;
  --sidebar-border: 270 89% 86%;
  --sidebar-ring: 280 89% 67%;
}

.dark {
  --background: 270 71% 6%;
  --foreground: 270 86% 96%;
  --card: 270 71% 12%;
  --card-foreground: 270 86% 96%;
  --popover: 270 71% 12%;
  --popover-foreground: 270 86% 96%;
  --primary: 270 88% 86%;
  --primary-foreground: 270 73% 20%;
  --secondary: 270 67% 18%;
  --secondary-foreground: 270 100% 97%;
  --muted: 270 67% 18%;
  --muted-foreground: 270 88% 86%;
  --accent: 270 65% 23%;
  --accent-foreground: 270 100% 98%;
  --destructive: 0 84% 71%;
  --destructive-foreground: 0 0% 100%;
  --border: 270 88% 86% / 0.25;
  --input: 270 88% 86% / 0.35;
  --ring: 280 89% 67%;
  --chart-1: 280 88% 76%;
  --chart-2: 280 89% 67%;
  --chart-3: 330 81% 71%;
  --chart-4: 48 96% 53%;
  --chart-5: 199 89% 61%;
  --sidebar: 270 71% 12%;
  --sidebar-foreground: 270 86% 96%;
  --sidebar-primary: 270 88% 86%;
  --sidebar-primary-foreground: 270 73% 20%;
  --sidebar-accent: 270 65% 23%;
  --sidebar-accent-foreground: 270 86% 96%;
  --sidebar-border: 270 88% 86% / 0.2;
  --sidebar-ring: 280 89% 67%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
